:root {
    --blanco: #fff;
    --grisClaro: #f2f2f2;
    --negro: #000;

    /* ---------------- amarillos ---------------- */
    --amarillo: #E6BC2F;
    --amarilloFondo: #F4E2AE;
    --amarilloOscuro: #C8AA63;
    --amarilloElectrico: #EED535;

    /* ---------------- verdes ---------------- */
    --verde: #4DAD5B;
    --verdeFondo: #ACD5C3;
    --verdeOscuro: #619568;
    --verdePlanta: #9BCC50;

    /* ---------------- naranjas ---------------- */
    --naranja: #EE6B2F;
    --naranjaFondo: #F0CAB1;
    --naranjaOscuro: #E3815B;
    --naranjaFuego: #FD7D24;

    /* ---------------- azules ---------------- */
    --azul: #30A7D7;
    --azulFondo: #B8DEE7;
    --azulOscuro: #669EB1;
    --azulAgua: #4592C4;

    /* ---------------- varios ---------------- */
    --cafeTierra: #AB9842;
    --moradoVeneno: #B97FC9;
    --rosaPsiquico:#F366B9;
    --grisVolador: #A4A4A4;
    --azulHielo: #51C4E7;
    --grisRoca: #595959;
}

/* ------------------------------- Globales ------------------------------- */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*, * :before, * :after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

li {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* -------------------------------- Logos -------------------------------- */
.pokemon_icon {
    height: 40px;
    width: 40px;
}

/* --------------------------------- Hero -------------------------------- */
.hero {
    text-align: center;
    padding: 2rem 0;
}

.logo {
    width: 2rem;
}

.logo img {
    width: 40%;
}

/*  ------------------------------- Header ------------------------------- */
.nav-header{
    background-color:var(--grisClaro);
    position: sticky;
    top: 0;
}

.header-conteiner {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.header-item-aux {
    height: 8.7rem;
    width: 12.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item__pikachu:hover {
    background-color: var(--amarillo);
}

.header-item__bulbasaur:hover {
    background-color: var(--verde);
}

.header-item__charmander:hover {
    background-color: var(--naranja);
}

.header-item__squirtle:hover {
    background-color: var(--azul);
}

/* --------------------------- item-conteiner --------------------------- */
.item-conteiner {
    display: grid;
}

.item__icon {
    text-align: center;
}

.item__name {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

/* -------------------------------- Tipos -------------------------------- */
.tipo-aux {
    border-radius: 1rem;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipo-eléctrico {
    background-color: var(--amarilloElectrico);
}

.tipo-tierra {
    background-color: var(--cafeTierra);
}

.tipo-planta {
    background-color: var(--verdePlanta);
}

.tipo-veneno {
    background-color: var(--moradoVeneno);
}

.tipo-fuego {
    background-color: var(--naranjaFuego);
}

.tipo-psiquico {
    background-color: var(--rosaPsiquico);
}

.tipo-volador {
    background-color: var(--grisVolador);
}

.tipo-hielo {
    background-color: var(--azulHielo);
}

.tipo-agua {
    background-color: var(--azulAgua);
}

.tipo-roca {
    background-color: var(--grisRoca);
}

@media (min-width: 768px) {
    .tipo-eléctrico,
    .tipo-tierra ,
    .tipo-planta,
    .tipo-veneno,
    .tipo-fuego,
    .tipo-psiquico,
    .tipo-volador,
    .tipo-hielo,
    .tipo-agua,
    .tipo-roca {
        width: 12.7rem;
        height: 3rem;
    }
}

/* ------------------------------- details-aux ------------------------------- */
.details-aux {
    display: grid;
    gap: 0 2rem;
}

/* -------------------------------- image-aux -------------------------------- */
.pokemon-image {
    width: 80%;
}

.image-conteiner-aux {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

/* --------------------------- pokemon-profile -------------------------- */
.pokemon-profile-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

.pokemon-profile {
    width: 80%;
    font-size: 1.5rem;
}

.pokemon-name {
    text-align: center;
    margin: 2rem 0;
}

.pokemon-description {
    margin: 2rem 0;
    line-height: 2rem;
}

.pokemon-info-left {
    text-align: center;
    line-height: 2.5rem;
}

.pokemon-info-right {
    text-align: center;
    line-height: 2.5rem;
}

.pokemon-info-left__ul {
    padding: 0;
    margin: 2rem 0;
}

.pokemon-info-right__ul {
    padding: 0;
    margin: 2rem 0;
}

.tipo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.tipo h2 {
    margin: 0;
}

.lista-de-tipos ul {
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;;
}

.debilidad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.debilidad h2 {
    text-align: center;
    margin: 0;
}

.lista-de-debilidades {
    margin: 1rem 0;
}

.lista-de-debilidades ul {
    padding: 0;
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;;
}

.atribute-title {
    color: var(--negro);
}

/* --------------------------- Pikachu-details --------------------------- */
.pikachu-details {
    background-color: var(--amarilloFondo);
}

@media (min-width: 768px) {
    .pikachu-details {
        grid-template-columns: 1fr 1fr;
    }
}

.pikachu-info {
    display: grid;
    background-color: var(--amarilloOscuro);
    color: var(--blanco);
    border-radius: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1.5rem;
    margin: 2rem 0 1rem 0;
}

.pikachu-info-left__ul,
.pikachu-info-right__ul {
    padding: 0;
    text-align: center;
    line-height: 2.5rem;
}

/* --------------------------- bulbasaur-details --------------------------- */
.bulbasaur-details {
    background-color: var(--verdeFondo);
}

@media (min-width: 768px) {
    .bulbasaur-details {
        grid-template-columns: 1fr 1fr;
    }
}

.bulbasaur-img {
    grid-row: 1 / 2;
}

.bulbasaur-info {
    display: grid;
    background-color: var(--verdeOscuro);
    color: var(--blanco);
    border-radius: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1.5rem;
    margin: 2rem 0 1rem 0;
}

.bulbasaur-info-left__ul,
.bulbasaur-info-right__ul {
    padding: 0;
    text-align: center;
    line-height: 2.5rem;
}

/* --------------------------- charmander-details --------------------------- */
.charmander-details {
    background-color: var(--naranjaFondo);
}

@media (min-width: 768px) {
    .charmander-details {
        grid-template-columns: 1fr 1fr;
    }
}

.charmander-info {
    display: grid;
    background-color: var(--naranjaOscuro);
    color: var(--blanco);
    border-radius: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1.5rem;
    margin: 2rem 0 1rem 0;
}

.charmander-info-left__ul,
.charmander-info-right__ul {
    padding: 0;
    text-align: center;
    line-height: 2.5rem;
}

/* --------------------------- squirtle-details --------------------------- */
.squirtle-details {
    background-color: var(--azulFondo);
}

@media (min-width: 768px) {
    .squirtle-details {
        grid-template-columns: 1fr 1fr;
    }
}

.squirtle-img {
    grid-row: 1 / 2;
}

.squirtle-info {
    display: grid;
    background-color: var(--azulOscuro);
    color: var(--blanco);
    border-radius: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1.5rem;
    margin: 2rem 0 1rem 0;
}

.squirtle-info-left__ul,
.squirtle-info-right__ul {
    padding: 0;
    text-align: center;
    line-height: 2.5rem;
}